@font-face {
  font-family: 'Konkord-Retro';
  src: url(/assets/fonts/Konkord-Retro.ttf);
}
@font-face {
  font-family: 'garden';
  src: url(/assets/fonts/Garden_Club_Deco.ttf);
}
@font-face {
  font-family: 'panton_light';
  src: url(/assets/fonts/Panton-Light.otf);
}
@font-face {
  font-family: 'panton_regular';
  src: url(/assets/fonts/Panton-Regular.otf);
}
@font-face {
  font-family: 'panton_semibold';
  src: url(/assets/fonts/Panton-SemiBold.otf);
}
@font-face {
  font-family: 'panton_bold';
  src: url(/assets/fonts/Panton-Bold.otf);
}